@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .scrollbar::-webkit-scrollbar {
        height: 15px;
    }

    .scrollbar::-webkit-scrollbar-track{
        background: #dddddd;
        border-radius:20px;
    }

    .scrollbar::-webkit-scrollbar-thumb{
        background:#64b2e0;
        border-radius:20px;
    }
}

body {
    background-color: #f4f5f8;
}